service cloud.firestore {
  match /databases/{database}/documents {

    match /lists/{listId} {

      function isOwner() {
        return get(/databases/$(database)/documents/lists/$(listId)).data.owner != null 
          && request.auth.uid == get(/databases/$(database)/documents/lists/$(listId)).data.owner;
      }

    	allow read, update: if request.auth != null && (isOwner());
      allow create: if request.auth != null;
      allow delete: if request.auth != null && (isOwner());

      match /tasks/{taskId} {
          allow read, update: if request.auth != null && (isOwner());
          allow create: if request.auth != null;
          allow delete: if request.auth != null && (isOwner());
        }
    }
  }
}
